[Unit]
Description=NFLOG DNS Logger
After=network.target
Documentation=man:nflog_dns(1)

[Service]
Type=simple
EnvironmentFile=-/etc/default/nflog_dns
ExecStart=/usr/sbin/nflog_dns $OPTIONS
KillSignal=SIGHUP
KillMode=mixed
TimeoutStopSec=35
Restart=on-failure
SuccessExitStatus=0 129
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
