Source: nflog-dns
Section: net
Priority: optional
Maintainer: Antti Kultanen <antti.kultanen@molukki.com>
Build-Depends: debhelper-compat (= 13),
               g++,
               libtins-dev,
               libnetfilter-log-dev,
               libspdlog-dev,
               libfmt-dev
Standards-Version: 4.6.2
Homepage: https://github.com/pyksy/nflog_dns
Rules-Requires-Root: no

Package: nflog-dns
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Extract and log DNS replies from NFLOG group
 A tool to extract and log DNS replies from Netfilter NFLOG groups.
 The tool binds to an NFLOG group and logs received DNS response records
 (A, AAAA, CNAME, PTR) to syslog or stdout.
