Source: nflog-dns
Section: net
Priority: optional
Maintainer: Antti Kultanen <antti.kultanen@molukki.com>
Build-Depends: debhelper-compat (= 13),
               g++,
               pkg-config,
               libtins-dev,
               libnetfilter-log-dev,
               libspdlog-dev,
               libfmt-dev,
               doctest-dev
Standards-Version: 4.6.2
Homepage: https://github.com/pyksy/nflog_dns
Rules-Requires-Root: no

Package: nflog-dns
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: Log DNS replies from iptables/nftables NFLOG target
 Parse and log DNS reply packets from NFLOG target to syslog or stdout,
 in plaintext or in JSON format. Supports mostly all query types (A,
 CNAME, PTR, ...) and return codes (NOERROR, NXDOMAIN, REFUSED, ...).
