#!/usr/bin/make -f

DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_test:
	@echo "Skipping tests during package build (require true root privileges)"

override_dh_auto_install:
	if grep -qi '^id=devuan' /etc/os-release; \
	then \
		$(MAKE) DESTDIR=$(CURDIR)/debian/nflog-dns PREFIX=/usr ETCDIR=/etc INSTALL_SYSTEMD=0 install; \
	else \
		$(MAKE) DESTDIR=$(CURDIR)/debian/nflog-dns PREFIX=/usr ETCDIR=/etc install; \
	fi

	
	sed -i 's/--user=nobody/--user=_nflog-dns/g' debian/nflog-dns/etc/default/nflog_dns
